.footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    @media(min-width: 768px){
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        .footer-copy{
            font: $font-style;
            font-size: 1rem;
        }
        .icono_footer{

            width: 3rem;
        }
       
    }
   
}

.icono_footer{

    width: 2.5rem;
}
.footer-copy{
    
    font: $font-style;
    font-size: 0.8rem;
}