//FUENTES::

$font-style-2: 200 1rem 'Roboto Slab', serif;
$font-style: 300 1.2rem 'Poppins', sans-serif;
$font-style_3: 400 4rem 'Beth Ellen', cursive;
$fasthand: "Fasthand", cursive;

//COLORES:
$white-50:rgba(255, 255, 255, 0.5);
$black-80: rgba(0, 0, 0, 0.8);
$greyish-brown: #505050;
$greyish-brown-88: rgba(62, 62, 62, 0.88);
$greyish-brown-two: #575757;
$dark: #302c42;
$warm-grey: #909090;
$white: #fff;
$dark-lilac: #8176af;
$mainColor: #031931;
